.statement-container {
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  max-width: 900px;
  margin: auto;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.statement-table {
  width: 100%;
  border-collapse: collapse;
}

.statement-table th,
.statement-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-inline: auto;
}
